@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-fundo: #09090b;
  --color-card: #18181b;
  --color-titulo: #fafafa;
  --color-texto: #a1a1aa;
  --color-destaque: #f59e0b;

  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: #09090b;
  }
}

/* Custom Slim Scrollbar for Dark Theme */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}